@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/pfdindisplaypro/PFDinDisplayPro-BoldItalic.eot');
  src: local('PFDinDisplayPro-BoldItalic'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-BoldItalic.woff') format('woff'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/pfdindisplaypro/PFDinDisplayPro-BlackItalic.eot');
  src: local('PFDinDisplayPro-BlackItalic'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-BlackItalic.woff') format('woff'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/pfdindisplaypro/PFDinDisplayPro-Thin.eot');
  src: local('PFDinDisplayPro-Thin'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Thin.woff') format('woff'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/pfdindisplaypro/PFDinDisplayPro-ThinItalic.eot');
  src: local('PFDinDisplayPro-ThinItalic'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-ThinItalic.woff') format('woff'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/pfdindisplaypro/PFDinDisplayPro-Italic.eot');
  src: local('PFDinDisplayPro-Italic'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Italic.woff') format('woff'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/pfdindisplaypro/PFDinDisplayPro-MediumItalic.eot');
  src: local('PFDinDisplayPro-MediumItalic'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-MediumItalic.woff') format('woff'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-MediumItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/pfdindisplaypro/PFDinDisplayPro-LightItalic.eot');
  src: local('PFDinDisplayPro-LightItalic'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-LightItalic.woff') format('woff'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/pfdindisplaypro/PFDinDisplayPro-Black.eot');
  src: local('PFDinDisplayPro-Black'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Black.woff') format('woff'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/pfdindisplaypro/PFDinDisplayPro-Regular.eot');
  src: local('PFDinDisplayPro-Regular'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Regular.woff') format('woff'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/pfdindisplaypro/PFDinDisplayPro-Light.eot');
  src: local('PFDinDisplayPro-Light'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Light.woff') format('woff'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/pfdindisplaypro/PFDinDisplayPro-Bold.eot');
  src: local('PFDinDisplayPro-Bold'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Bold.woff') format('woff'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/pfdindisplaypro/PFDinDisplayPro-Medium.eot');
  src: local('PFDinDisplayPro-Medium'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Medium.woff') format('woff'),
  url('../fonts/pfdindisplaypro/PFDinDisplayPro-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

