
.fa-star-full:before { content: '\e800'; } /* '' */
.fa-star-empty:before { content: '\e801'; } /* '' */
.fa-search:before { content: '\e802'; } /* '' */
.fa-eye:before { content: '\e803'; } /* '' */
.fa-eye-off:before { content: '\e804'; } /* '' */
.fa-cancel:before { content: '\e805'; } /* '' */
.fa-mail:before { content: '\e806'; } /* '' */
.fa-user:before { content: '\e807'; } /* '' */
.fa-key:before { content: '\e808'; } /* '' */
.fa-trash-empty:before { content: '\e809'; } /* '' */
.fa-up-open:before { content: '\e80a'; } /* '' */
.fa-login:before { content: '\e80b'; } /* '' */
.fa-ok:before { content: '\e80c'; } /* '' */
.fa-down-open:before { content: '\e80d'; } /* '' */
.fa-calendar:before { content: '\e80e'; } /* '' */
.fa-plus-squared:before { content: '\e80f'; } /* '' */
.fa-play-circled:before { content: '\e810'; } /* '' */
.fa-attention-circled:before { content: '\e811'; } /* '' */
.fa-full-screen:before { content: '\e812'; } /* '' */
.fa-paper-plane:before { content: '\e813'; } /* '' */
.fa-gift:before { content: '\e814'; } /* '' */
.fa-right-dir:before { content: '\e815'; } /* '' */
.fa-left-dir:before { content: '\e816'; } /* '' */
.fa-clock:before { content: '\e817'; } /* '' */
.fa-roulette-wheel:before { content: '\e818'; } /* '' */
.fa-hourglass-start:before { content: '\e819'; } /* '' */
.fa-clock-light:before { content: '\e81a'; } /* '' */
.fa-trophy:before { content: '\e81b'; } /* '' */
.fa-crown:before { content: '\e81c'; } /* '' */
.fa-coin:before { content: '\e81d'; } /* '' */
.fa-close:before { content: '\e81e'; } /* '' */
.fa-viber:before { content: '\e81f'; } /* '' */
.fa-whatsapp:before { content: '\e820'; } /* '' */
.fa-spin5:before { content: '\e838'; } /* '' */
.fa-chrome:before { content: '\e841'; } /* '' */
.fa-chevron-left:before { content: '\f053'; } /* '' */
.fa-chevron-right:before { content: '\f054'; } /* '' */
.fa-facebook:before { content: '\f09a'; } /* '' */
.fa-filter:before { content: '\f0b0'; } /* '' */
.fa-menu:before { content: '\f0c9'; } /* '' */
.fa-gplus:before { content: '\f0d5'; } /* '' */
.fa-comment-empty:before { content: '\f0e5'; } /* '' */
.fa-chat-empty:before { content: '\f0e6'; } /* '' */
.fa-angle-up:before { content: '\f106'; } /* '' */
.fa-reply:before { content: '\f112'; } /* '' */
.fa-star-half:before { content: '\f123'; } /* '' */
.fa-minus-squared:before { content: '\f146'; } /* '' */
.fa-youtube-play:before { content: '\f16a'; } /* '' */
.fa-instagram:before { content: '\f16d'; } /* '' */
.fa-apple:before { content: '\f179'; } /* '' */
.fa-windows:before { content: '\f17a'; } /* '' */
.fa-android:before { content: '\f17b'; } /* '' */
.fa-vk:before { content: '\f189'; } /* '' */
.fa-odnoklassniki:before { content: '\f263'; } /* '' */
.fa-telegram:before { content: '\f2c6'; } /* '' */
.fa-yandex:before { content: '\f305'; } /* '' */
.fa-twitter:before { content: '\f309'; } /* '' */