.sidebar {
  $right-width: 360px;

  &__left {
    width: 100%;
    @include media_min(md-min) {
      width: calc(100% - #{$right-width});
      padding-right: 30px;
    }
  }

  &__right {
    width: 100%;
    @include media_min(md-min) {
      width: $right-width;
    }
  }
}
