.badge {
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
  color: #fff;

  &-blue {
    background: #1E88E5;
  }
}
